name: macOS CI Build

on:
  push:
    branches:
      - master
      - macos-ci-workflow
  pull_request:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Setup Spack
        uses: spack/setup-spack@v2.1.1
        with:
          ref: develop
          color: true
          path: ${{ github.workspace }}/spack
      
      - name: Add Spack environment
        run: |
          spack env create ci spack-environment/ci
          spack env activate ci
          spack -e ci compiler find
          spack -e ci external find --not-buildable cmake
      
      - name: Concretize
        run: |
          spack -e ci concretize -f
      
      - name: Setup buildcache access
        uses: spack/github-actions-buildcache@v2
        with:
          mode: readwrite
          key: macos-${{ matrix.compiler }}-ci
      
      - name: Install
        run: |
          spack -e ci install --no-check-signature --show-log-on-error
      
      - name: Push to buildcache
        if: always()
        run: |
          spack -e ci buildcache push --update-index --only=package --unsigned ${{ github.workspace }}/buildcache-macos
      
      - name: Show environment info
        if: always()
        run: |
          spack -e ci find -lv
          spack -e ci graph --dot > ci-graph.dot
      
      - name: Upload environment graph
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ci-environment-graph-${{ matrix.compiler }}
          path: ci-graph.dot
