name: Mirror and Trigger EICweb

on:
  delete:
  pull_request:
  push:
  workflow_dispatch:

jobs:
  build:
    name: Mirror and Trigger EICweb
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Push to EICweb
      if: ${{ github.event_name == 'push' }}
      uses: eic/gitlab-sync@master
      with:
        url: https://eicweb.phy.anl.gov/containers/eic_container.git/
        token: ${{ secrets.GITLAB_TOKEN }}
        username: ${{ secrets.GITLAB_USERNAME }}
        ciskip: true
    - name: Trigger EICweb
      if: ${{ github.event_name == 'pull_request' }}
      uses: eic/trigger-gitlab-ci@v3
      with:
        url: https://eicweb.phy.anl.gov
        project_id: 290
        token: ${{ secrets.EICWEB_EIC_CONTAINER_TRIGGER }}
        ref_name: ${{ github.event.pull_request.head.ref || github.ref }}
        variables: |
          GITHUB_REPOSITORY=${{ github.repository }}
          GITHUB_SHA=${{ github.event.pull_request.head.sha || github.sha }}
          GITHUB_PR=${{ github.event.pull_request.number }}
          PIPELINE_NAME_CONTAINER=${{ github.repository }}: ${{ github.event.pull_request.title || github.ref_name }}
